<div class="center jumbotron">
  <h1>P A L E T T E</h1>
  <img class="image" src="http://www.cocolia.cat/assets/arxius/931d0c2ed97bda9721ced0bda8f7fdd9.jpg" />
  <img class="image" src="https://img0.etsystatic.com/001/0/5880375/il_fullxfull.356272630_ir5c.jpg" />
  <img class="image" src="http://www.cocolia.cat/assets/arxius/f49664fe87302ddc9b7024b95613b5f1.jpg" />
  <img class="image" src="http://d1nr5wevwcuzuv.cloudfront.net/product_photos/32530434/type_original.jpeg" />
  <img class="image" src="http://www.cocolia.cat/assets/arxius/23b9cd9295c8589fe1a46be07ca3882a.jpg" />
  <h2>Find art and design classes taught by experts in your neighborhood.</h2>
  <%= link_to 'Log In', login_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#loginModal', :class => "btn btn-primary btn-lg", 'data-type' => "html" } %>
  <%= link_to 'Sign Up', signup_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#signupModal', :class => "btn btn-primary btn-lg", 'data-type' => "html" } %>
</div>

