<div class="center jumbotron">
  <h1>Welcome to Palette</h1>

  <h2>Search and sign up for art and design classes in your neighborhood.</h2>
  <%= link_to "Start Filling up your Palette", signup_path, class: "btn btn-lg btn-primary" %>
</div>
