<div class="center jumbotron">
  <%= asset_path('palette-bar-01.png') %>
  <h2>Find art and design classes taught by experts in your neighborhood.</h2>
  <%= link_to "Log In", login_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %>
</div>
