<div class="center jumbotron">
  <h1>Welcome to Palette</h1>

  <h2>Find art and design classes taught by experts in your neighborhood.</h2>
  <%= link_to "Search Classes", signup_path, class: "btn btn-lg btn-primary" %>
</div>
