@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

/* typography */
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Cardo', serif;

/* colors */
$mint: #C4FDD6;
$blue: #092E4D;
$pink: #FC8683;
$light-pink: #EBD3C5;
$teal: #092E4D;
$white: #FAFCFC;

/* universal */
body {
  padding-top: 60px;
  font-family: $primary-font;
  overflow: scroll !important;
}

#bootstrap-overrides h1 {
  font-family: $primary-font;
  color: $teal;
  margin: 90px 0px 60px;
  text-align: center;
}

#bootstrap-overrides h3 {
  font-family: $primary-font;
  font-size: 3em;
  color: $teal;
  margin: 30px 0px 10px;
  text-align: center;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* homepage center jumbo */

div.center.jumbotron {
  background-color: $teal;
  margin-top: 40px;
  color: $white;
}

.center {
  text-align: center;
  h2 {
  font-family: $secondary-font;
  margin: 20px 0px 0px;
  }
}

#bootstrap-overrides .center h1 {
  font-family: $primary-font;
  margin: 30px 0px;
  color: $white;
}

.btn.btn-lg.btn-primary {
  background-color: $white;
  border-color: $pink;
  color: $pink;
  margin: 40px 5px 0px;
}

#bootstrap-overrides p {
  font-family: $secondary-font;
  font-size: 1.3em;
  color: $teal;
  margin: 30px 0px;
}

.home-image {
  height: 200px;
}

/* header */

#logo {
  font-family: $primary-font;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.navbar.navbar-fixed-top.navbar-inverse {
  font-family: $secondary-font;
  background-color: $pink;
  border-color: $pink;
  color: $white;
  font-size: 1.2em;
  padding: 10px 0px;
  li a {
  color: $white;
  }
}

.navbar.navbar-fixed-top.navbar-inverse li a:hover {
  color: $blue;
}

#bootstrap-overrides .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  background-color: $pink;
  color: $blue;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1, h2 {
      font-family: $secondary-font;
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  width: 100px;
  height: 100px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

label {
  font-family: $secondary-font;
  font-size: 1.2em;
  color: $teal;
  margin-top: 10px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid $pink;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#btn-submit {
  background-color: $pink;
  border-color: $pink;
  font-family: $primary-font;
  font-size: 1.3em;
  margin-top: 10px;
}

/* modals -- need to make it not shift the page. below not working */
.modal-backdrop {
  z-index: -1 !important;
}

.modal {
    overflow-y: auto;
}

.modal-open {
   padding-right: 0px !important;
}

#bootstrap-overrides .modal-header {
  border: none;
}
/* footer */

footer {
  font-family: $secondary-font;
  font-size: 1.2em;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $pink;
  color: $blue;
  a {
    color: $pink;
    &:hover {
      color: $pink;
    }
  }
  h4 {
    float: left;
    color: $pink;
    margin: auto;
    font-size: 1em;
    padding-top: 5px;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
