@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

/* typography */
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Cardo', serif;

/* colors */
$blue: #092E4D;
$pink: #FC8683;
$light-pink: #A5E2F2;
$light-blue: #0775C1;
$white: #FAFCFC;
$green: #00A45E;


/* universal */
body {
  padding-top: 60px;
  font-family: $primary-font;
  overflow: scroll !important;
}

#bootstrap-overrides h1 {
  font-family: $primary-font;
  color: $blue;
  margin: 90px 0px 60px;
  text-align: center;
}

h2 {
  font-family: $secondary-font;
  font-size: 2em;
  color: $blue;
  margin: 30px 0px;
  text-align: center;
}

#bootstrap-overrides h3 {
  font-family: $primary-font;
  font-size: 3em;
  color: $blue;
  margin: 30px 0px 10px;
  text-align: center;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* homepage center jumbo */

div.center.jumbotron {
  background-color: $blue;
  margin-top: 40px;
  color: $white;
}

.center {
  text-align: center;
  h2 {
  font-family: $secondary-font;
  margin: 20px 0px 0px;
  }
}

#bootstrap-overrides .center h1 {
  font-family: $primary-font;
  margin: 30px 0px;
  color: $white;
}

.btn.btn-lg.btn-primary {
  background-color: $green;
  border-color: $green;
  color: $white;
  margin: 40px 5px 0px;
}

#bootstrap-overrides p {
  font-family: $secondary-font;
  font-size: 1.3em;
  color: $blue;
  margin: 0px 0px 25px;
}

.image {
  max-width: 400px;
}

.home-image {
  max-height: 200px;
}

.thumbnail-image {
  max-width: 200px;

}
/* header */

#logo {
  font-family: $primary-font;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}

#bootstrap-overrides .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: none;
}

#bootstrap-overrides .navbar-inverse .navbar-toggle {
  border-color: $white;

}

#bootstrap-overrides .navbar-inverse .navbar-toggle:hover {
    background-color: $blue;
}

#bootstrap-overrides .navbar-inverse .navbar-toggle:focus {
    background-color: $pink;
}
#bootstrap-overrides .icon-bar {
  background-color: $white;
}

.navbar.navbar-fixed-top.navbar-inverse {
  font-family: $secondary-font;
  background-color: $pink;
  border-color: $pink;
  color: $white;
  letter-spacing: 1px;
  font-size: 1.2em;
  padding: 10px 0px;
  li a {
  color: $white;
  }
}

.navbar.navbar-fixed-top.navbar-inverse li a:hover {
  color: $blue;
}

#bootstrap-overrides .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  background-color: $pink;
  color: $blue;
}

#bootstrap-overrides .d-list {
  color: $blue;
  font-size: 1.2em;
}
/* Users index */

#bootstrap-overrides .thumbnail {
  padding: 15px;
  border-color: $green;
  background-color: $white;
  border-radius: 5px;
}

/* gravatar */


.gravatar {
  margin-right: 10px;
  width: 100px;
  height: 100px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

label {
  font-family: $secondary-font;
  font-size: 1.2em;
  color: $blue;
  margin-top: 10px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid $pink;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#btn-submit {
  background-color: $pink;
  border-color: $pink;
  font-family: $primary-font;
  font-size: 1.3em;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* modals -- need to make it not shift the page. below not working */
.modal-backdrop {
  z-index: -1 !important;
}

.modal {
  overflow-y: auto;
}

.modal-open {
  padding-right: 0px !important;
}

#bootstrap-overrides .modal-header {
  border: none;
}
/* footer */

footer {
  font-family: $secondary-font;
  font-size: 1.2em;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $pink;
  color: $blue;
  a {
    color: $pink;
    &:hover {
      color: $pink;
    }
  }
  h4 {
    float: left;
    color: $pink;
    margin: auto;
    font-size: 1em;
    padding-top: 5px;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
/* Search Toolbar */
#bootstrap-overrides h5 {
  font-family: $primary-font;
  color: $green;
  font-size: 1.3em;
  margin-bottom: 10px;
  text-align: center;
}

.select-search {
  font-family: $primary-font;
  color: $blue;
  font-size: 1.3em;
  margin-bottom: 10px;
  border-color: $green;
  border-radius: 5px;
  padding: 5px;
}

#search {
    padding: 5px;
}

#btn-search {
  font-family: $primary-font;
  background-color: $green;
  border-color: $green;
  font-size: 1.3em;
}
/* Contact Page */
.center {
  text-align: center;
}

.fa {
  padding-bottom: 20px;
}

.fa-desktop {
    color: $light-blue;
}

.fa-commenting-o {
    color: $pink;
}

.fa-bicycle {
    color: $green;
}

.fa-newspaper-o {
    color: $blue;
}

/* About Page */

.about {
  text-align: center;
}
