@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

/* typography */
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Cardo', serif;

/* colors */
$mint: #C4FDD6;
$blue: #092E4D;
$pink: #FC8683;
$light-pink: #EBD3C5;
$purple: #24167E;
$white: #FAFCFC;

/* universal */
body {
  padding-top: 60px;
  font-family: $primary-font;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

div.container.navbar {
  background-color: $mint;
}

.navbar {
  font-family: $secondary-font;
  color: white;
}

div.center.jumbotron {
  background-color: $light-pink;
  margin-top: 20px;
}

.center {
  text-align: center;
}

.center h1 {
  font-family: $primary-font;
  margin: 20px 0px;
}

.center h2 {
  font-family: $secondary-font;
  margin: 30px 0px 0px;
}

.btn.btn-lg.btn-primary {
  background-color: $white;
  border-color: $pink;
  color: $pink;
  margin: 30px 0px 0px;
}

/* header */

#logo {
  font-family: $primary-font;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1, h2 {
      font-family: $secondary-font;
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  width: 100px;
  height: 100px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* footer */

footer {
  font-family: $secondary-font;
  font-size: 1.2em;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $pink;
  color: $blue;
  a {
    color: $pink;
    &:hover {
      color: $pink;
    }
  }
  small {
    float: left;
    color: $pink;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
