<% provide(:title, 'Edit Review') %>
<% @review = Review.new %>

<h1>update review</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @review, :url => edit_course_review_path do |f|%>

      <%= f.label :content, "Review" %>
      <%= f.text_field :content, :placeholder => "Write your review here.", class: 'form-control' %>

      <%= f.submit "update review", class: "btn btn-primary", id: "btn-submit" %>
    <% end %>
  </div>
</div>
